<div class="jumbotron">
  <H1>FERTEC</H1>

  <H2>lit fluidisé</H2>

  <div class="photo_produit"> <%= image_tag("space2.jpg",:size => "425x349") %> </div>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut nunc posuere, lacinia enim id, lobortis mi. Sed nec nulla arcu.  Proin pulvinar tincidunt dolor, in cursus enim aliquam nec. Sed luctus, magna vel gravida auctor, est tellus laoreet ligula, et malesuada arcu lorem et tortor. Maecenas id enim faucibus,  id viverra orci sodales vitae. Nam dolor elit, vestibulum placerat quam quis, rhoncus consectetur purus. Phasellus hendrerit hendrerit turpis.</p>
  <div class="video_produit">
    <object width="425" height="349">
      <param name="movie" value="https://www.youtube.com/v/N83TFsZhLfU?rel=0"></param>
      <param name="allowFullScreen" value="true"></param>
      <embed src="https://www.youtube.com/v/N83TFsZhLfU?rel=0&amp;controls=0&amp;showinfo=0" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="349"></embed>
    </object>
  </div>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut nunc posuere, lacinia enim id, lobortis mi. Sed nec nulla arcu.  Proin pulvinar tincidunt dolor, in cursus enim aliquam nec. Sed luctus, magna vel gravida auctor, est tellus laoreet ligula, et malesuada arcu lorem et tortor. Maecenas id enim faucibus,  id viverra orci sodales vitae. Nam dolor elit, vestibulum placerat quam quis, rhoncus consectetur purus. Phasellus hendrerit hendrerit turpis.</p>
</div>
<div class="end">
  test
</div>
